.git
.akeru
.repos
node_modules
**/node_modules
**/dist
**/.vite-plus
native/**/target
release
.env
.env.*
.env*
**/.env
**/.env.*
**/.env*
!.env.example
!**/.env.example
*.pem
**/*.pem
*.key
**/*.key
*.p12
**/*.p12
*.pfx
**/*.pfx
